header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 0;
}
.header__content {
  display: flex;
  justify-content: center;
}
.logo {
  width: 210px;
  height: 70px;
}

.profile {
  cursor: pointer;
}
.cart {
  background: transparent;
  border: none;
  cursor: pointer;
}
.cart__feedback {
  margin-top: 15px;
}
.cart__feedback p {
  color: var(--primary-tango);
  font-size: 18px;
}

.ant-dropdown-menu-item button {
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}

.ant-dropdown-menu-item svg {
  font-size: 18px !important;
}
