header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 0;
}
.header__content {
  display: flex;
  justify-content: center;
}
.logo {
  width: 210px;
  height: 70px;
}

.profile {
  background: transparent;
  border: none;
  cursor: pointer;
}
